{% extends "base/public.html" %}
{% block content %}
<div class="container py-5">
  <h1>Estrutura da residência</h1>
  <ul class="list-group mt-4">
    <li class="list-group-item">5 quartos, cada um com até 2 moradores.</li>
    <li class="list-group-item">2 banheiros compartilhados.</li>
    <li class="list-group-item">1 geladeira.</li>
    <li class="list-group-item">2 máquinas de lavar.</li>
    <li class="list-group-item">Área externa.</li>
    <li class="list-group-item">Portão eletrônico.</li>
    <li class="list-group-item">Wi‑Fi único.</li>
    <li class="list-group-item">Não possui garagem.</li>
  </ul>
</div>
{% endblock %}
