{% extends "base/admin.html" %}
{% block content %}
<h1>Moradores</h1>
<table class="table table-hover bg-white mt-4">
  <tr><th>Nome</th><th>Quarto</th><th>Vaga</th><th>Valor</th><th>Status</th><th></th></tr>
  {% for m in moradores %}
  <tr>
    <td>{{ m.nome }}</td><td>{{ m.quarto }}</td><td>{{ m.leito }}</td><td>R$ {{ m.valor_contratado }}</td><td>{{ m.get_status_display }}</td>
    <td><a class="btn btn-sm btn-primary" href="{% url 'morador_detalhe' m.pk %}">Abrir</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
